{% extends 'base.html.twig' %}

{% block title %} - My statistics{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('styles/gridstack_layout.css') }}" rel="stylesheet">
{% endblock %}

{% block head %}
{#  <meta name="turbo-visit-control" content="reload">#}
{% endblock %}

{% block javascripts %}
  {% block importmap %}{{ importmap('app') }}{% endblock %}
  <script src="{{ asset('scripts/widget.js') }}"></script>
{% endblock %}


{% block body %}


  {% if not modify is defined %}
    {% set submitText = 'Create' %}
    {% set subTitle = 'Create new Statistic' %}
  {% else %}
    {% set submitText = 'Update' %}
    {% set subTitle = 'Update Statistic' %}
  {% endif %}


  {% include 'base/html/page-title.html.twig' with {'title': 'Your personal statistics'} %}
  <hr class="mt-3 mb-3" />

  <div>

    {# ********* GRID STACK HERE ********* #}
    <div class="grid-stack"></div>


    {# Modal toggle BUTTON for create new widget #}
    <p>
      <a href="{{ path('app_widget_new_statistic') }}" data-turbo-frame="static-modal0">
        <button data-modal-target="static-modal" data-modal-toggle="static-modal" type="button" id="button-add-widget-page" class="button-colored-std" style="display: none">Add new statistic</button>
      </a>
    </p>

    {# Modal lazy content #}
    <div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true"
       class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
    >
      <div class="relative py-8 px-4 mx-auto w-1/2 lg:py-16 lg:gap-16" style="height: 842px;">

        <div class="absolute right-12 top-24">{% include 'base/html/button/cancel.html.twig' with {'onclick' : 'hideModal()'} %}</div>

        <turbo-frame id="static-modal0" class="w-full">

          <div class="flex flex-col w-full h-full p-6 sm:p-8 bg-white rounded-lg shadow-xl dark:bg-gray-800">
            <div class="flex">
              <div class="w-1/4 bg-gray-200 rounded-full dark:bg-gray-700" style="height: 30px;"></div>
              <div class="mx-auto"></div>
            </div>

            <div class="my-auto"></div>
            <div class="flex self-center justify-center items-center text-center">
              {% include 'base/spinner.html.twig' %}
            </div>
            <div class="my-auto"></div>
          </div>
        </turbo-frame>
      </div>


    </div>


    <script>loadGrid();</script>
  </div>

{% endblock %}