<div>
  {% include 'my_page/user_card.html.twig' %}
</div>
<br />

{% include 'my_statistics/statistic_widget/compare_scrobbles_per_period.html.twig' %}
<br />

{% include 'statistic_widget/average_scrobbles_block.html.twig' %}
<br />

{% include 'statistic_widget/max_scrobbles_block.html.twig' %}
<br />

{% include 'statistic_widget/ScrobblesPerMonthAnnualyWidget.html.twig' %}
<br />

{% include 'statistic_widget/TotalScrobblesPerYearWidget.html.twig' %}
<br />